.container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 200px;
    perspective: 500px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

#cube figure {
    display: block;
    position: absolute;
    background: rgba(12, 123, 234, .6);
}

#cube .front {
    width: 50px;
    height: 200px;
    transform: rotateY(0deg) translateZ( 100px );
}
#cube .back {
    width: 50px;
    height: 195px;
    transform: rotateY(0deg) translateZ( -100px );
}
#cube .right {
    width: 140px;
    height: 200px;
    transform: rotateY(90deg) translateZ( -20px );
}
#cube .left {
    width: 140px;
    height: 200px;
    transform: rotateY(90deg) translateZ( -70px );
}
#cube .top {
    width: 50px;
    height: 140px;
    transform: rotateX(90deg) translateZ( 70px );
}
#cube .bottom {
    width: 50px;
    height: 140px;
    transform: rotateX(90deg) translateZ( -130px );
}