<?php $v=time(); ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <link rel="stylesheet" href="comm/css/reset.css?v<?php echo $v;?>">
    <link rel="stylesheet" href="comm/css/note.css?v<?php echo $v;?>">
</head>
<body>
<div class="paper">
<div class="title">黑客与画家：硅谷创业之父Paul Graham文集</div>
    <div class="brief">书籍简介</div>
    <ul class="notes">
        <li>读后笔记标题</li>
        <li>读后笔记标题 </li>
        <li>读后笔记标题 </li>
        <li>读后笔记标题 </li>
        <li>读后笔记标题 </li>
        <li>读后笔记标题 </li>
    </ul>
</div>
</body>
</html>