<?php $v=time(); ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
    <link rel="stylesheet" href="comm/css/reset.css?v<?php echo $v;?>">
    <!--<link rel="stylesheet" href="../view/css/default.css?v<?php echo $v;?>">-->
    <link rel="stylesheet" href="comm/css/component2.css?v<?php echo $v;?>">
    <link rel="stylesheet" href="comm/css/index.css?v<?php echo $v;?>">
</head>
<body>
<div class="tool">
    <input type="text">
    <ul></ul>
    <div class="tip"></div>
</div>
<header>
    <div class="clock"></div>
</header>
<div class="bookshelf">
    <div class="bookshelf-item">
        <ul id="bk-list" class="bk-list clearfix">
            <li>
                <div class="bk-book book-3">
                    <div class="bk-front">
                        <div class="bk-cover">
                            <h2>
                                <span>作者</span>
                                <span>书名</span>
                            </h2>
                        </div>
                        <div class="bk-cover-back"></div>
                    </div>
                    <div class="bk-page">
                        <div class="bk-content bk-content-current">
                            <p>内容</p>
                        </div>
                        <div class="bk-content">
                            <p>内容2</p>
                        </div>
                        <div class="bk-content">
                            <p>内容3</p>
                        </div>
                    </div>
                    <div class="bk-back">
                        <img src="comm/img/3.png" alt="cat"/>
                        <p>反面内容</p>
                    </div>
                    <div class="bk-right"></div>
                    <div class="bk-left">
                        <h2>
                            <span>作者</span>
                            <span>书名</span>
                        </h2>
                    </div>
                    <div class="bk-top"></div>
                    <div class="bk-bottom"></div>
                </div>
            </li>
            <li>
                <div class="bk-book book-3">
                    <div class="bk-front">
                        <div class="bk-cover">
                            <h2>
                                <span>作者</span>
                                <span>书名</span>
                            </h2>
                        </div>
                        <div class="bk-cover-back"></div>
                    </div>
                    <div class="bk-page">
                        <div class="bk-content bk-content-current">
                            <p>内容</p>
                        </div>
                        <div class="bk-content">
                            <p>内容2</p>
                        </div>
                        <div class="bk-content">
                            <p>内容3</p>
                        </div>
                    </div>
                    <div class="bk-back">
                        <img src="comm/img/3.png" alt="cat"/>
                        <p>反面内容</p>
                    </div>
                    <div class="bk-right"></div>
                    <div class="bk-left">
                        <h2>
                            <span>作者</span>
                            <span>书名</span>
                        </h2>
                    </div>
                    <div class="bk-top"></div>
                    <div class="bk-bottom"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="bookshelf-item"></div>
    <div class="bookshelf-item"></div>
</div>
<footer></footer>
<script src="dep/jquery.js?v<?php echo $v;?>"></script>
<script src="dep/jquery.md5.js?v<?php echo $v;?>"></script>
<script src="dep/jquery.thooClock.js?v<?php echo $v;?>"></script>
<script src="comm/js/index.js?v<?php echo $v;?>"></script>
</body>
</html>