<?php $v=time(); ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
    <link rel="stylesheet" href="./comm/css/reset.css?v<?php echo $v;?>">
    <link rel="stylesheet" href="./comm/css/index.css?v<?php echo $v;?>">
</head>
<body>
<header>
    <div class="clock"></div>
</header>
<div class="bookshelf">

</div>
<footer></footer>
<script src="./dep/jquery.js?v<?php echo $v;?>"></script>
<script src="./dep/jquery.md5.js?v<?php echo $v;?>"></script>
<script src="./dep/jquery.thooClock.js?v<?php echo $v;?>"></script>
<script src="./comm/js/index.js?v<?php echo $v;?>"></script>
</body>
</html>